<!doctype html>
<html class="lenis" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{{ page_title }}</title>
    
    {{ content_for_header }}

    <link rel="preload" href="{{ 'Scto_Grotesk_A_Bold-s.p.354a0c6f.woff2' | asset_url }}" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="{{ 'Scto_Grotesk_A_Medium-s.p.9e43f3eb.woff2' | asset_url }}" as="font" crossorigin="" type="font/woff2"/>
    <link rel="preload" href="{{ 'Scto_Grotesk_A_Regular-s.p.446dd950.woff2' | asset_url }}" as="font" crossorigin="" type="font/woff2"/>

    <!-- Animation & Smooth Scroll Dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" defer></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js" defer></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const lenis = new Lenis({
          duration: 1.2,
          easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
          direction: 'vertical',
          gestureDirection: 'vertical',
          smooth: true,
          mouseMultiplier: 1,
          smoothTouch: false,
          touchMultiplier: 2,
          infinite: false,
        });
        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }
        requestAnimationFrame(raf);
      });
    </script>

    {{ 'damso.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="grotesk_2193dbb5-module__MyDpIq__className grotesk_2193dbb5-module__MyDpIq__variable font-sans">
    
    {% section 'header' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'ipod-navigation' %}

    <div class="fixed inset-0 z-1000 hidden place-content-center bg-white max-sm:landscape:grid">
      <div class="ipod-battery-line-blink w-30">
        <svg class="w-full" viewBox="0 0 20 12" stroke="black" fill="none" xmlns="http://www.w3.org/2000/svg"><title>iPod battery icon</title><path d="M1 1.42627L1 10.5738L17.8197 10.5738V7.623H19V4.67218L17.8197 4.67218V1.42627L1 1.42627Z" stroke-width="1.40984"></path><line class="line" x1="4.72868" y1="3.38647" x2="4.72868" y2="8.61365" stroke-width="2.81967"></line></svg>
      </div>
    </div>
    
  </body>
</html>
