<div class="fixed inset-0 pointer-events-none">
  <div class="h-full w-full pointer-events-auto" id="coverflow-container">
    <div class="coverflow-drag -translate-1/2 absolute left-1/2 cursor-grab select-none z-10" style="top:40%; height:440px; width:100%;"></div>
    <ul class="coverflow-wrapper absolute left-1/2 z-0" style="top:40%;">
      {% assign target_collection = section.settings.collection %}
      {% if target_collection == blank or target_collection.products.size == 0 %}
        {% assign target_collection = collections.all %}
      {% endif %}
      {% for product in target_collection.products %}
        <li id="product-{{ product.id }}" class="absolute top-0 left-0 select-none coverflow-item" data-index="{{ forloop.index0 }}" data-url="{{ product.url }}" data-title="{{ product.title | escape }}">
          <div class="-translate-1/2 absolute top-0 left-0 aspect-square coverflow-scale-wrapper w-100 transition-transform" style="scale: var(--scale, 1);">
            <div class="absolute inset-0 overflow-clip bg-white" style="border-radius:calc(0.25rem/var(--scale,1))">
              <button type="button" class="absolute inset-0 cursor-pointer appearance-none" aria-label="Open details for {{ product.title | escape }}" onclick="window.location.href='{{ product.url }}'">
                <picture class="pointer-events-none absolute inset-0 [&>img]:[border-radius:calc(0.25rem/var(--scale,1))]">
                  {% if product.featured_image %}
                    <img class="block absolute h-full w-full object-cover" alt="{{ product.title | escape }}" src="{{ product.featured_image | image_url: width: 640 }}" decoding="sync" fetchpriority="high" width="322" height="322"/>
                  {% else %}
                    <div class="flex h-full items-center justify-center bg-gray-200 text-gray-500 text-xs">{{ product.title }}</div>
                  {% endif %}
                </picture>
              </button>
            </div>
          </div>
        </li>
      {% else %}
        {% for i in (1..6) %}
          <li class="absolute top-0 left-0 select-none coverflow-item" data-index="{{ forloop.index0 }}">
            <div class="-translate-1/2 absolute top-0 left-0 aspect-square coverflow-scale-wrapper w-100 transition-transform" style="scale: var(--scale, 1);">
              <div class="absolute inset-0 overflow-clip bg-[#C6C6C6] flex items-center justify-center text-white font-bold" style="border-radius:calc(0.25rem/var(--scale,1))">
                Item {{ i }}
              </div>
            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>

<script src="{{ 'coverflow.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Damso Coverflow",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection to display"
    }
  ],
  "presets": [
    {
      "name": "Damso Coverflow"
    }
  ]
}
{% endschema %}